@model GestionBibliotheque.Models.membres

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Voulez-vous supprimer ce livre?</h3>
<div>
    <dl>
        <dt>
            @Html.Label("Prénom")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.Label("Nom")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.Label("Genre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.Label("Date de naissance")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateNaissance)
        </dd>

        <dt>
            @Html.Label("Téléphone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.Label("Courriel")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courriel)
        </dd>

        <dt>
            @Html.Label("Adresse")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.adresses.noCivique), @Html.DisplayFor(model => model.adresses.rue)<br />
            @Html.DisplayFor(model => model.adresses.ville), @Html.DisplayFor(model => model.adresses.province)<br />
            @Html.DisplayFor(model => model.adresses.codePostal)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
